@font-face {
    font-family: 'Geometria-bold';
    src: url(/fonts/geometria_bold.otf);
    font-weight: 700;
}
@font-face {
    font-family: 'Geometria-extra';
    src: url(/fonts/geometria_extrabold.otf);
    font-weight: 800;
}
@font-face {
    font-family: 'Geometria-light';
    src: url(/fonts/geometria_light.otf);
    font-weight: 300;
}
@font-face {
    font-family: 'Geometria-medium';
    src: url(/fonts/geometria_medium.otf);
    font-weight: 500;
}
@font-face {
    font-family: 'Muller-extra';
    src: url(/fonts/MullerExtraBold.woff);
    font-weight: 800;
}
@font-face {
    font-family: 'Muller-bold';
    src: url(/fonts/MullerBold.woff);
    font-weight: 700;
}
@font-face {
    font-family: 'Muller-regular';
    src: url(/fonts/MullerRegular.woff);
    font-weight: 400;
}
@font-face {
    font-family: 'Muller-light';
    src: url(/fonts/MullerLight.woff);
    font-weight: 300;
}
@font-face {
    font-family: 'Muller-medium';
    src: url(/fonts/MullerMedium.woff);
    font-weight: 500;
}